.header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    border-bottom: 1px solid var(--grey);
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.navbar-item {
    margin: 0 1rem;

    display: flex;
    align-items: center;

    gap: .2rem;
}

.navbar-item a {
    text-decoration: none;
    color: var(--white);

    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-item:hover a {
    color: var(--blue);
}

.navbar-icon {
    width: 1rem;
    height: 1rem;
}

.navbar-icon path {
    fill: var(--white)
}

.navbar-item:hover .navbar-icon path {
    fill: var(--blue);
}