#root {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;

    min-height: 80vh;

    padding: 1rem 3rem;
}

.page-main {
    padding: 0 15%;
}

.page-header {
    font-size: 3rem;
}

.loading {
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--gray-1);
}

.p-info {
    font-size: 2rem;

    text-align: center;
}